#banner{
background-image: url(images/clouds3.jpg);/*http://www.realdesktop.eu/data/media/5/blue%20by%20nkspace%20%20devianart.jpg*/
height: 200px;
background-repeat: no-repeat;
text-align: center;
background-position-y: -230px;
background-size: cover;
padding: 100px;
}
#banner .brand{
}